<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nanodg.tambalban">

    <uses-permission android:name="com.javapapers.currentlocationinmap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuUtama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisUserActivity" />
        <activity android:name=".LoginUserActivity" />
        <activity android:name=".PnlPemilikActivity" />
        <activity android:name=".TambahActivity" />
        <activity android:name=".DtltambalActivity" />
        <activity android:name=".FirebaseDBReadActivity" />
        <activity android:name=".FirebaseDBReadSingleActivity" />
        <activity android:name=".AduanActivity" />
        <activity android:name=".PnlUserActivity" />
        <activity android:name=".MapsActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBu1ueAsgh5rVX5GNxjogBa3J_afkCuXxw" />

        <activity android:name=".DtlImgActivity" />
        <activity android:name=".FirebaseDBReadAduanActivity" />
        <activity android:name=".PnlAdminActivity" />
        <activity android:name=".ListUserActivity" />
        <activity android:name=".ListTambalActivity" />
        <activity android:name=".ListAduanActivity" />
        <activity android:name=".ListAduanPemilikActivity" />
        <activity android:name=".EditTambalActivity" />
        <activity android:name=".PesanPemilikActivity" />
        <activity android:name=".ActivityChatDetails" />
        <activity android:name=".ActivitySelectFriend" />
        <activity android:name=".LoginActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Bantuan" />
        <activity android:name=".BengkelActivity" />
        <activity android:name=".AksesorisActivity" />
        <activity android:name=".TambahBengkelActivity" />
        <activity android:name=".TambahAksesorisActivity" />
        <activity android:name=".DtlAksesoriss" />
        <activity android:name=".DtlBengkelActivity" />
        <activity android:name=".InfoDataAnctivity"/>
        <activity android:name=".FirebaseDBReadBengkelActivity"/>
        <activity android:name=".FirebaseDBReadSingleBengkelActivity"/>
        <activity android:name=".FirebaseDBReadAksesorisActivity"/>
        <activity android:name=".FirebaseDBReadSingleAksesorisActivity"/>
        <activity android:name=".CariTambalActivity"/>
    </application>

</manifest>